:root {
  --color-background-primary: #d8d8d8;
  --color-background-secondary: #f6f4f4;
  --color-text: #444;
  --color-red-primary: #c05746;
  --color-red-secondary: #86090b;
  --color-green-primary: #adc698;
  --color-green-secondary: #6a994e;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}
.main {
  height: 100vh;
  background-color: var(--color-background-primary);
}
.main,
.nav-bar,
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1,
h2 {
  margin: 0.5rem;
}

/* NAVBAR */
.nav-bar {
  background-color: var(--color-background-primary);
  border-bottom: 5px solid var(--color-background-secondary);
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 1rem;
}
.nav-bar__item {
  margin: 1rem;
  list-style: none;
  text-transform: uppercase;
}
.nav-bar__item > i {
  font-size: 1.5rem;
}
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* make sure doesn't expand vh */
  flex-grow: 1;
}

.container_balance {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 80%;
  background-color: var(--color-background-secondary);
  border-radius: 15px;
  /* box-shadow: 1px 1px 5px gray; */
}
.container_balance > h1 {
  text-align: center;
  min-height: 1rem;
  color: var(--color-text);
}
/* MAIN */
.history_title {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
}
.entries {
  width: 80%;
  /* max-height: 10%; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 3px;
}
.entry {
  background: var(--color-background-secondary);
  padding: 0.7rem;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  box-shadow: 1px 1px 3px gray;
}

/* .delete-entry-div {
  background-color: var();
} */

#entry_title,
#entry_amount,
.entry_date {
  font-weight: 300;
}

#entry_title {
  flex: 1 0 auto;
}

#entry_amount {
  text-align: end;
}

.entry_date {
  font-size: 12px;
  text-align: end;
}

.income {
  color: #6a994e;
}

.income::before {
  content: "+";
}

.expense {
  color: #bc4749;
}
.expense::before {
  content: "-";
}

/* scroll bar */
html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-background-primary);
  border-radius: 10px;
  border: 1px solid white;
}
/* add-entry section */
.collapsible {
  background-color: var(--color-background-secondary);
  color: var(--color-text);
  cursor: pointer;
  padding: 5px 3rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 0; */
}
.collapsible > .fa-caret-up {
  font-size: 1.5rem;
  transform: rotate(-90deg);
  color: var(--color-background-secondary);
  text-shadow: -3px -3px 6px #ffffff, 3px 3px 6px rgba(0, 0, 0, 0.25),
    3px 3px 6px #ffffff, -3px -3px 6px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s;
}

.active > .fa-caret-up {
  transform: none;
}

.add-entry {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.6rem 0.6rem 0;
  background: var(--color-background-secondary);
}

#name {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  flex-grow: 1;
  padding: 0 1rem;
}

/* icons */
.fa-pencil {
  padding: 10px;
  display: inline;
}
#minus-btn,
#plus-btn {
  font-size: 3rem;
  /* margin: 0.5rem; */
}

#plus-btn {
  color: var(--color-green-primary);
}

#minus-btn {
  color: var(--color-red-primary);
}

.income-delete,
.expense-delete {
  opacity: 0;
  padding-right: 0.5rem;
  color: var(--color-red-secondary);
}

.entry:hover .x {
  opacity: 0.2;
}

.entry > .x:hover {
  opacity: 1;
}

/* input fields */

#input-description,
#input-amount {
  background: none;
  outline: none;
  border: 2px solid gray;
  border-radius: 5px;
  /* padding: 0 0.5rem; */
  /* margin: 3px 0; */
  font-size: 1rem;
  font-family: "Niconne", cursive;
}

#label-description,
#label-amount {
  font-size: 12px;
}

/* DISABLE NUMBER INPUT ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.chart-container {
  display: none;
}
footer {
  display: none;
  color: black;
  flex-direction: column;
  align-items: center;
}

.icons {
  width: 50%;
  display: flex;
  justify-content: center;
}

.icon,
a {
  list-style: none;
  margin: 10px 1rem;
}
a:visited {
  color: black;
}
a > i:hover {
  color: var(--color-green-secondary);
}

p {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    gap: 0px 0px;
    grid-template-areas:
      "nav nav"
      "container canvas"
      "footer footer";
  }
  nav {
    grid-area: nav;
  }
  .container {
    /* margin-left: 1.5rem; */
    width: 100%;
    height: 100%;
    grid-area: container;
  }

  footer {
    display: flex;
    grid-area: footer;
    border-top: 5px solid var(--color-background-secondary);
  }

  #myChart {
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: #6a994e; */
    display: block;
    grid-area: canvas;
    margin: auto;
  }
}
