* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #d8d8d8;
}

h1,
h2 {
  margin: 0.5rem;
}
h3,
h4 {
  margin: 0;
}
/* HEADER */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 100vh;
}

.header {
  background-color: #f6f4f4;
  border-radius: 0 0 25px 25px;
  width: 100%;
  padding: 3rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_title {
  font-weight: 500;
}

.header_balance {
  font-weight: 300;
}
/* MAIN */

.history {
  border-radius: 25px;
  background-color: #eeeeee;
  width: 85vw;
  flex-grow: 1;
  border: 2px solid gray;
  margin: 1.5rem;
}
.history_title {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
}
.entries {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-x: auto;
}
.entry {
  background: #f6f4f4;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-entry-div {
  background-color: #86090b;
  color: "";
}

.entry:nth-child(even) {
  background-color: #eee;
}

#entry_title,
#entry_amount {
  font-weight: 300;
}

#entry_title {
  flex: 1 0 auto;
}

.income {
  color: #6a994e;
}

.income::before {
  content: "+";
}

.expense {
  color: #bc4749;
}
.expense::before {
  content: "-";
}

/* scroll bar */
html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: #f6f4f4;
  border-radius: 25px 25px 0px 0px;
  padding: 1rem;
}

#name {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

/* icons */
.fa-pencil {
  padding: 10px;
  display: inline;
}
#minus-btn,
#plus-btn {
  font-size: 3rem;
  margin: 1rem;
}

#plus-btn {
  color: #386641;
}

#minus-btn {
  color: #86090b;
}
.fa-circle-xmark {
  color: #86090b;
  opacity: 0;
  padding-right: 0.5rem;
}

.entry:hover .fa-circle-xmark {
  opacity: 0.2;
}

.entry > .fa-circle-xmark:hover {
  opacity: 1;
}

/* input fields */

#input-description,
#input-amount {
  background: none;
  outline: none;
  border: 2px solid gray;
  line-height: 3rem;
  border-radius: 5px;
  padding: 0 0.5rem;
  margin: 3px 0;
  font-size: 2rem;
  font-family: "Niconne", cursive;
}

#label-description,
#label-amount {
  font-size: 13px;
}

/* DISABLE NUMBER INPUT ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
